    <ul class="menu">
        <ul class="menu01">
            <li style="margin-right: 24px"><a href="#">Home</a></li>
            <ul class="menu1">
                <li><a href="#">Nossa Missão</a></li>
                <li><a href="#">Nossa Visão</a></li>
                <li><a href="#">Áreas de Entrega</a></li>
                <li><a href="#">Frotas</a></li>
            </ul>
        </ul>
        <ul class="menu01">
            <li style="margin-right: 24px"><a href="#">A Empresa</a></li>
            <ul class="menu1">
                <li><a href="#">Serviço Urgente</a></li>
                <li><a href="#">Serviço Bi-diário</a></li>
                <li><a href="#">Serviço de Recolha</a></li>
            </ul>
        </ul>
        <li style="margin-right: 24px"><a href="#">Vantagens Transvinha</a></li>
        <li><a href="#">Media</a></li>
    </ul>

<router-outlet></router-outlet>